@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Neucha&display=swap');
$header-color: #e64b16;
.contactContainer {
  display: flex;
  flex-direction: column;
  height: 500px;
  // border: 2px solid black;
  .contactUsHeading {

    margin-bottom: 30px;
    text-align: center;
    @media (min-width: 768px) {
    width: 100%;
}
 h3 {
    color: #e60012;
    // font-family: 'Impact';
    font-family: 'Bungee', cursive;
    font-size: 50px;
    font-weight: 400 !important;
    text-transform: uppercase;
    line-height: 60px;
    margin: 30px 0;
}
  }
  @media only screen and (max-width: 767px){
  .contactUsHeading h3 {
      font-size: 40px;
  }
}
  .allContactRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;

    .contactContainerRow  {
      margin: 0 0 15px;
   text-align: center;
 span {
  color: #2c2c2c;
  font-size: 30pt;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  display: inline-block;
  margin-bottom: 5px;
 }
p{
  color: #777;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin: 0;
  a{
    color: #e60012;
    font-weight: 700;
    text-decoration: none;
  }
}



      .icon {
        fill: #e60012 !important;
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    
    
    }
    }

  }
  @media screen and (max-width: 768px) {
    .allContactRow {
      margin-left: 100px;
    margin-right: 100px;
    }
  }
  .contactMap {
  }
}
